body{
    color: rgb(0, 0, 0);
    background: rgb(0, 102, 255);
    margin: 0px;
    font-family: "BBH Sans Hegarty", sans-serif; 
}

header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size:32px ; 
    color: rgb(0, 0, 0)
}

.chamada{
    background:rgb(0, 255, 221) ;
    padding-bottom: 80;
    padding-top: flex;
    display:flex ;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10x;
}
.categoria{
    pedding-left: 20px;
    pedding-right: 20px;
}
.categoria-videos img {
    opacity: 0.5 ;
    height: 200px;
}