body{
    color: blue;
    background: silver;
    margin: 0px;
}

header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size:32px ; 
    color: yellow
}

section{
    background:blueviolet ;
    padding-bottom: 80;
    padding-top: flex;
    display:flex ;
    justify-content: center;
}